<section class="about-game" id="about-game-id">
  <div class="about-game-inner container">
    <div class="about-game-title-div">
      <h2 class="about-game_title">About the Game</h2>
    </div>
    <div class="about-game-content-div">
      <p class="about-game_text">Merge Cruise: Mystery Puzzle invites you on an unforgettable voyage where every merge uncovers a new clue or reward. As a passenger on a luxury cruise ship, your goal is to solve intriguing puzzles, unlock hidden secrets, and create the most lavish cruise experience. Combining merging mechanics with a compelling mystery narrative, the game offers endless entertainment for puzzle enthusiasts and adventurers alike</p>
      <img class="about-game_picture" src="./img/characters/bianca-Photoroom.png" alt="Bianca Photoroom">
    </div>
  </div>
</section>