<section class="faq" id="faq-id">
  <div class="faq-inner container">
    <h2 class="faq_title">Frequently Asked Questions</h2>
    <ul class="faq_list">
      <li class="faq-item">
        <button class="faq-question-button-js">
          <span class="faq_question">Is the game free to play?</span>
          <svg class="faq-question_svg" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-arrow-top"></use>
          </svg>
        </button>
        <p class="faq-answer">
          Yes, Merge Cruise: Mystery Puzzle is free to play, but it offers
          optional in-app purchases for premium items.
        </p>
      </li>
      <li class="faq-item">
        <button class="faq-question-button-js">
          <span class="faq_question">Can I play offline?</span>
          <svg class="faq-question_svg" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-arrow-top"></use>
          </svg>
        </button>
        <p class="faq-answer">
          Yes, you can enjoy the game offline, but certain features may require
          an internet connection.
        </p>
      </li>
      <li class="faq-item">
        <button class="faq-question-button-js">
          <span class="faq_question">How often are new updates released?</span>
          <svg class="faq-question_svg" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-arrow-top"></use>
          </svg>
        </button>
        <p class="faq-answer">
          New updates with fresh levels, items, and events are released
          regularly to keep the game exciting.
        </p>
      </li>
      <li class="faq-item">
        <button class="faq-question-button-js">
          <span class="faq_question"
            >What devices are compatible with the game?</span
          >
          <svg class="faq-question_svg" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-arrow-top"></use>
          </svg>
        </button>
        <p class="faq-answer">
          The game is optimized for most Android and iOS devices with a recent
          operating system version.
        </p>
      </li>
      <li class="faq-item">
        <button class="faq-question-button-js">
          <span class="faq_question">Are there daily rewards?</span>
          <svg class="faq-question_svg" width="24px" height="24px">
            <use href="./img/sprite.svg#icon-arrow-top"></use>
          </svg>
        </button>
        <p class="faq-answer">
          Yes, log in daily to collect exciting rewards and bonuses that enhance
          your gameplay.
        </p>
      </li>
    </ul>
  </div>
</section>
