<section class="features" id="features-id">
  <div class="features-inner features-container">
    <div class="about-game-title-div features-div">
      <h2 class="about-game_title">Unique Features</h2>
    </div>
    <ul class="features-list">
      <li class="features-item">
        <p class="features_number">01</p>
        <h3>Mystery Meets Merge</h3>
        <p class="features_text">
          Uncover the secrets of the cruise ship through a series of thrilling
          puzzles
        </p>
      </li>
      <li class="features-item">
        <p class="features_number">02</p>
        <h3>Exotic Destinations</h3>
        <p class="features_text">
          Travel to breathtaking locations, each with unique challenges and
          items to merge
        </p>
      </li>
      <li class="features-item">
        <p class="features_number">03</p>
        <h3>Interactive Crew and Guests</h3>
        <p class="features_text">
          Meet colorful characters with their own backstories and quests
        </p>
      </li>
      <li class="features-item">
        <p class="features_number">04</p>
        <h3>Event Cruises</h3>
        <p class="features_text">
          Seasonal events with limited-time rewards and unique merging items
        </p>
      </li>
      <li class="features-item">
        <p class="features_number">05</p>
        <h3>Treasure Hunt Mode</h3>
        <p class="features_text">
          Special mini-games that let you dive into the ocean to collect rare
          items
        </p>
      </li>
    </ul>
  </div>
</section>
