<section class="footer" id="footer-id">
  <div class="footer-inner container">
    <div class="footer-links">
      <a class="footer_link" href="../privacy-policy.html">Privacy Policy</a>
      /
      <a class="footer_link" href="../terms-conditions.html"
        >Terms & Conditions</a
      >
    </div>
    <p class="footer_text">All rights reserved, wingametraill.com. 2025</p>
    <div class="footer-links-pc">
      <a class="footer_link-pc" href="../privacy-policy.html">Privacy Policy</a>
      <a class="footer_link-pc" href="../terms-conditions.html"
        >Terms & Conditions</a
      >
    </div>
  </div>
</section>
