<section class="gallery" id="gallery-id">
  <div class="gallery-inner container">
    <div class="gallery-wrap">
      <h2 class="gallery-wrap-title">Gallery</h2>

      <ul class="gallery-wrap-list gallery-row-first">
        <li>
          <img
            class="gallery-wrap-item"
            src="./img/gallery/gallerry1.jpg"
            alt="image 1"
          />
        </li>
        <li>
          <img
            class="gallery-wrap-item"
            src="./img/gallery/gallerry2.jpg"
            alt="image 2"
          />
        </li>
      </ul>

      <ul class="gallery-wrap-list gallery-row-second">
        <li>
          <img
            class="gallery-wrap-item"
            src="./img/gallery/gallerry3.jpg"
            alt="image 3"
          />
        </li>

        <li>
          <img
            class="gallery-wrap-item"
            src="./img/gallery/gallerry4.jpg"
            alt="image 4"
          />
        </li>
        <li>
          <img
            class="gallery-wrap-item"
            src="./img/gallery/gallerry5.jpg"
            alt="image 5"
          />
        </li>
      </ul>

      <div class="controls">
        <button id="prevSlideButton">
          <img class="arrow1" src="./img/gallery/arrow right.png" alt="Next" />
        </button>
        <div class="indicators">
          <span class="indicator active" data-slide="0"></span>
          <span class="indicator" data-slide="1"></span>
          <span class="indicator" data-slide="2"></span>
          <span class="indicator" data-slide="3"></span>
          <span class="indicator" data-slide="5"></span>
        </div>
        <button id="nextSlideButton">
          <img class="arrow" src="./img/gallery/arrow right.png" alt="Next" />
        </button>
      </div>
    </div>
  </div>
</section>
