<section class="game-rules" id="game-rules-id">
  <div class="game-rules-inner container game-rules-container">
    <h2 class="game-rules-title">How to Play</h2>

    <div class="card-wrap">
      <div class="card-wrap-first">
        <div class="card">
          <div class="card-image">
            <img src="./img/game-rules/merge-items.png" alt="Game board" />
            <div class="card-overlay">
              <p class="overlay-text">Merge Items:</p>
            </div>
          </div>
          <div class="card-content">
            <p>
              Combine identical objects like luggage, decorations, and maps to
              create advanced versions.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="./img/game-rules/unlock.png" alt="Unlock New Areas" />
            <div class="card-overlay">
              <p class="overlay-text">Unlock New Areas:</p>
            </div>
          </div>
          <div class="card-content">
            <p>
              Progress through levels to reveal more sections of the cruise
              ship.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="./img/game-rules/solve.jpg" alt="Solve Mysteries" />
            <div class="card-overlay">
              <p class="overlay-text">Solve Mysteries:</p>
            </div>
          </div>
          <div class="card-content">
            <p>Collect clues and solve puzzles to uncover hidden secrets</p>
          </div>
        </div>
      </div>

      <div class="card-wrap-second">
        <div class="card">
          <div class="card-image">
            <img src="./img/game-rules/upgrade.png" alt="Upgrade Your Ship" />
            <div class="card-overlay">
              <p class="overlay-text">Upgrade Your Ship:</p>
            </div>
          </div>
          <div class="card-content">
            <p>
              Use merged items to improve your cruise amenities, from cabins to
              dining halls.
            </p>
          </div>
        </div>

        <div class="card">
          <div class="card-image">
            <img
              src="./img/game-rules/interact.jpg"
              alt="Interact with Characters:"
            />
            <div class="card-overlay">
              <p class="overlay-text">Interact with Characters:</p>
            </div>
          </div>
          <div class="card-content">
            <p>
              Help guests and crew members with their unique quests to earn
              rewards.
            </p>
          </div>
        </div>
      </div>

      <div class="game-rules-characters">
        <img
          class="game-rules-man"
          src="/img/characters/mateo-Photoroom.png"
          alt="Mateo Photoroom"
        />
        <img
          class="game-rules-girl"
          src="../img/characters/кара-Photoroom2.png"
          alt="Kapa Photoroom"
        />
      </div>
    </div>
  </div>
</section>
