<header class="header" id="header-id">
  <div class="header-inner container">
    <div class="logo-div">
      <a class="logo" href="./index.html"
        ><img src="./img/logo.png" alt="logo"
      /></a>
    </div>
        <nav class="mobile-nav-js">
      <button class="close-menu-js" type="button">
        <img src="./img/close-menu.png" alt="close menu">
      </button>
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item-js"><a href="./index.html">Home</a></li>
        <li class="mobile-menu-item-js"><a href="#about-game-id">About the Game</a></li>
        <li class="mobile-menu-item-js"><a href="#faq-id">FAQ</a></li>
        <li class="mobile-menu-item-js"><a href="#features-id">Unique Features</a></li>
        <li class="mobile-menu-item-js"><a href="#gallery-id">Gallery</a></li>
        <li class="mobile-menu-item-js"><a href="#game-rules-id">How to Play</a></li>
        <li class="mobile-menu-item-js"><a href="#why-us">Why Us?</a></li>
        <li class="mobile-menu-item-js"><a href="#reviews-id">Reviews</a></li>
        <li class="mobile-menu-item-js"><a href="#storyline-id">Uplifting Storyline</a></li>
      </ul>
    </nav>
    <nav class="ps-nav">
      <ul class="ps-menu-list">
        <li class="ps-menu-item"><a href="./index.html">Home</a></li>
        <li class="ps-menu-item"><a href="#about-game-id">About the Game</a></li>
        <li class="ps-menu-item"><a href="#faq-id">FAQ</a></li>
        <li class="ps-menu-item"><a href="#features-id">Unique Features</a></li>
        <li class="ps-menu-item"><a href="#gallery-id">Gallery</a></li>
      </ul>
      <ul class="ps-menu-list">
        <li class="ps-menu-item"><a href="#game-rules-id">How to Play</a></li>
        <li class="ps-menu-item"><a href="#why-us">Why Us?</a></li>
        <li class="ps-menu-item"><a href="#reviews-id">Reviews</a></li>
        <li class="ps-menu-item"><a href="#storyline-id">Uplifting Storyline</a></li>
      </ul>
    </nav>
    <button class="burger_menu-js" type="button">
      <svg width="44" height="44" class="burger-menu_svg">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
