<section class="hero container" id="hero-id">
  <div class="hero-inner">
    <h1 class="hero_title">Merge Cruise: Mystery Puzzle</h1>
    <p class="hero_text">
      Set sail on a journey of discovery, mystery, and fun!
    </p>
    <a class="play-link" href="https://play.google.com/store/apps/details?id=com.peerplay.megamerge" target="_blank">
      <img class="play-link_picture" src="./img/google-play.png" alt="google-play"/>
      <div>
        <p class="play-link_text">
          Download Now
        </p>
        <h2 class="play-link_title">Google Play</h2>
      </div>
    </a>
  </div>
  <img class="hero-capitan" src="/img/characters/captain-photoroom.png" alt="Captain Photoroom"/>
</section>
