<section class="reviews" id="reviews-id">
  <div class="reviews-inner container reviews-container">
    <div class="reviews-wrap">
      <h2 class="reviews-wrap-title">Reviews</h2>

      <ul class="reviews-wrap-list">
        <li class="reviews-wrap-card">
          <div class="riviews-wrap-card-block">
            <img
              class="reviews-wrap-img"
              src="./img/reviews/ocean-lover.png"
              alt="image 1"
            />
            <h3 class="reviews-wrap-caption">OceanLover</h3>
          </div>
          <p class="reviews-wrap-text">
            The merging is so satisfying, and the mystery keeps me hooked!
          </p>
        </li>

        <li class="reviews-wrap-card">
          <div class="riviews-wrap-card-block">
            <img
              class="reviews-wrap-img"
              src="./img/reviews/puzzle-queen.png"
              alt="image 2"
            />
            <h3 class="reviews-wrap-caption">PuzzleQueen</h3>
          </div>
          <p class="reviews-wrap-text">
            Beautiful graphics and an engaging storyline. Love this game!
          </p>
        </li>

        <li class="reviews-wrap-card">
          <div class="riviews-wrap-card-block">
            <img
              class="reviews-wrap-img"
              src="./img/reviews/vacation-fan.png"
              alt="image 3"
            />
            <h3 class="reviews-wrap-caption">VacationFan</h3>
          </div>

          <p class="reviews-wrap-text">
            Feels like I’m on a real cruise while solving puzzles. Highly
            recommend!
          </p>
        </li>

        <li class="reviews-wrap-card">
          <div class="riviews-wrap-card-block">
            <img
              class="reviews-wrap-img"
              src="./img/reviews/merge-master.png"
              alt="image 4"
            />
            <h3 class="reviews-wrap-caption">MergeMaster</h3>
          </div>
          <p class="reviews-wrap-text">
            Addictive gameplay with a perfect mix of challenge and relaxation.
          </p>
        </li>
      </ul>

      <div class="controls">
        <button id="prevSlideButtonRew">
          <img class="arrow" src="./img/gallery/arrow left.png" alt="Next" />
        </button>
        <div class="dots">
          <span class="dot active" data-slide="0"></span>
          <span class="dot" data-slide="1"></span>
          <span class="dot" data-slide="2"></span>
          <span class="dot" data-slide="3"></span>
        </div>
        <button id="nextSlideButtonRew">
          <img class="arrow" src="./img/gallery/arrow right.png" alt="Next" />
        </button>
      </div>
    </div>
  </div>
</section>
