<section class="storyline" id="storyline-id">
  <div class="storyline-inner container">
    <div class="storyline-text-content">
      <h2 class="storyline_title">Uplifting Storyline</h2>
      <p class="storyline_text">
        Dive into the intriguing tale of the cruise ship, which has a mysterious
        past waiting to be unraveled. Piece together hidden clues and uncover
        the fascinating history of the ship’s construction, its famous
        passengers, and the long-lost treasure that might still be aboard.
      </p>
    </div>
    <div class="storyline-picture-div">
      <img
        class="storyline_picture"
        srcset="
          ./img/storyline/storyline-1x.jpg 1x,
          ./img/storyline/storyline-2x.jpg 2x
        "
        src="./img/storyline/storyline-1x.jpg"
        alt="storyline picture"
      />
    </div>
  </div>
</section>
