<section class="why-us" id="why-us">
  <div class="why-us-inner container why-us-container">
    <h2 class="why-us-title">Why Us?</h2>

    <ul class="why-us-list">
      <li class="why-us-item">
        <div class="why-us-img">01</div>
        <p class="why-us-text">
          <span class="why-us-bolt">Unique Blend:</span> Combines merging
          mechanics with a captivating mystery adventure
        </p>
      </li>

      <li class="why-us-item">
        <p class="why-us-text">
          <span class="why-us-bolt">Dynamic Gameplay:</span> Regular updates and
          seasonal events keep the game fresh and exciting
        </p>
        <div class="why-us-img second">02</div>
      </li>

      <li class="why-us-item">
        <div class="why-us-img">03</div>

        <p class="why-us-text">
          <span class="why-us-bolt">Immersive Design: </span> High-quality
          graphics and detailed settings bring the cruise experience to life.
        </p>
      </li>

      <li class="why-us-item">
        <p class="why-us-text">
          <span class="why-us-bolt">Broad Appeal: </span> Suitable for casual
          gamers and puzzle enthusiasts alike.
        </p>
        <div class="why-us-img second">04</div>
      </li>

      <li class="why-us-item">
        <div class="why-us-img">05</div>

        <p class="why-us-text">
          <span class="why-us-bolt">Endless Discoveries:</span> Every merge
          leads to something new, from story twists to stunning upgrades.
        </p>
      </li>
    </ul>

    <div class="why-us-boat">
      <img class="why-us-boat-img" src="./img/ship-why-us.png" alt="Ship" />
    </div>
  </div>
</section>
