@import './header.css';
@import './hero.css';
@import './about-game.css';
@import './faq.css';
@import './features.css';
@import './gallery.css';
@import './game-rules.css';
@import './why-us.css';
@import './reviews.css';
@import './storyline.css';
@import './footer.css';

@import './info-pages.css';

:root {
  background-color: #a3d5ff;
  font-family: 'Roboto Slab', serif;
  color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 360px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

.features-container {
  max-width: 360px;
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 25px;
  }

  .features-container {
    max-width: 1200px;
    padding: 0 52px;
  }
}
